[server]
url = http://opac-server:8888


[redis]
host = opac-broker


[rq]
queues = ["high", "default", "low"]
result_ttl = 180


[db:handler]
sqlalchemy.url = sqlite:///var/opac.db
sqlalchemy.pool_pre_ping = true
sqlalchemy.pool_recycle = 3600


[gateway]
connections = 10


[repository]
batch_size = 1000


[lc]
url = http://lubimyczytac.pl
profile_search_url = https://lubimyczytac.pl/account/getMoreSearchedAccounts
profile_library_url = https://lubimyczytac.pl/profil/{profile_value}/{profile_name}/biblioteczka/lista
profile_shelf_url = https://lubimyczytac.pl/profil/{profile_value}/{profile_name}/biblioteczka/lista?shelfs={shelf_id}
shelf_items_url = https://lubimyczytac.pl/profile/getLibraryBooksList


[task:refresh_shelves_schedule]
loop_time = 600


[task:refresh_shelf_items_schedule]
loop_time = 14400
