[client]
url = http://opac-server:8888


[redis]
host = opac-broker


[rq]
queues = ["high", "default", "low"]


[db:handler]
sqlalchemy.url = sqlite:///var/opac.db
sqlalchemy.pool_pre_ping = true
sqlalchemy.pool_recycle = 3600



[lc]
url = http://lubimyczytac.pl
profile_search_url = https://lubimyczytac.pl/account/getMoreSearchedAccounts
profile_library_url = https://lubimyczytac.pl/profil/{profile_id}/{profile_name}/biblioteczka/lista
profile_shelf_url = https://lubimyczytac.pl/profil/{profile_id}/{profile_name}/biblioteczka/lista?shelfs={shelf_id}
shelf_items_url = https://lubimyczytac.pl/profile/getLibraryBooksList


[latest_books_scraper]
invalidate_days = 30
