[loggers]
keys = root, src, src.dataproviders.http, sqlalchemy, tornado, rq, aiohttp.client

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console
qualname =

[logger_src]
level = INFO
handlers =
qualname = src

[logger_src.dataproviders.http]
level = INFO
handlers =
qualname = src.dataproviders.http

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
; "level = INFO" logs SQL queries.
; "level = DEBUG" logs SQL queries and results.
; "level = WARN" logs neither.  (Recommended for production systems.)

[logger_tornado]
level = INFO
handlers =
qualname = tornado

[logger_rq]
level = INFO
handlers =
qualname = rq

[logger_aiohttp.client]
level = INFO
handlers =
qualname = aiohttp.client

[handler_console]
class = logging.StreamHandler
formatter = generic
args = (sys.stderr,)

[formatter_generic]
format = %(asctime)-15s %(levelname)-5.5s [%(filename)s:%(lineno)s] [%(funcName)s] %(message)s
class = logging.Formatter
