[activities]
list = [{"name": "Latest books", "value": "latest-books", "caller": "filter-latest-books"}, {"name": "Search books", "value": "search-books", "caller": "activities"}]


[lc]
url = http://lubimyczytac.pl
profile_search_url = https://lubimyczytac.pl/account/getMoreSearchedAccounts
profile_library_url = https://lubimyczytac.pl/{profile_id}/biblioteczka/lista


[catalogs]
list = [{"city": "Bielsko-Biała", "name": "Opac", "value": "4949"}, {"city": "Kraków", "name": "Wojewódzka Biblioteka Publiczna", "value": "5004"}]
