html,
body {
    height: 100%;
}

body {
    display: flex;
    background-color: #FCFCFC;
}

.text-center {
    text-align: center !important;
}

.nes-btn {
    border-image-repeat: stretch !important;
}

#progress {
    margin-bottom: 48px;
}

#progress > progress {
    height: 12px;
    width: 12px;
}

#app-form {
    padding: 15px;
    margin: auto;
}

fieldset {
    width: 540px;
}

#start-fields {
    width: 960px;
}

#start-fields #shelves-list-container button {
    margin: 4px 12px 12px 12px;
}

#search-latest-books-fields {
    width: auto;
}

#latest-books-fields {
    width: 960px;
}

#latest-books-table table {
    border-collapse: collapse !important;
}

#latest-books-table thead {
    background-color: lightblue;
    text-transform: capitalize;
}

#latest-books-table tr:nth-child(even) {
    background-color: azure;
}

.input-hint {
    font-size: 75%;
}

.btn-block {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#loading-btn:before, .loading-text:after {
    content: '.';
    animation: dots 0.5s infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
        -1em 0 0 rgba(0,0,0,0),
        1em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: rgba(0,0,0,0);
        text-shadow:
        -1em 0 0 #212529,
        1em 0 0 rgba(0,0,0,0);
    }
    60% {
        color: #212529;
        text-shadow:
        -1em 0 0 #212529,
        1em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow:
        -1em 0 0 #212529,
        1em 0 0 #212529;
    }
}

.btn-prevPage {
    top: 25px;
    position: absolute;
    right: 2em;
}

.btn-prevPage > span {
    display: block;
    transform: rotateZ(90deg);
}

.btn-prevPage > span::before {
    content: "<";
}

.btn-nextPage {
    bottom: 25px;
    position: absolute;
    right: 2em;
}

.btn-nextPage > span {
    display: block;
    transform: rotateZ(-90deg);
}

.btn-nextPage > span::before {
    content: "<";
}

.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.item > label {
    display: block;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}
